<!DOCTYPE html>
<html>
  <head>
    <title>HLS on Rails Sample</title>
    <meta name="description" content="Ruby on Rails with HLS (HTTP Live Streaming) sample page.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:url" content="https://rails-hls-sample.herokuapp.com/" >
    <meta property="og:title" content="HLS on Rails Sample" >
    <meta property="og:type" content="website">
    <meta property="og:description" content="Ruby on Rails with HLS (HTTP Live Streaming) sample page." >
    <%= tag.meta property: 'og:image', content: asset_pack_url('media/images/og-image.png') %>
    <meta property="og:site_name" content="HLS on Rails Sample" >
    <meta property="og:locale" content="ja_JP" >
    <meta name="twitter:card" content="summary_large_image" >
    <meta name="twitter:site" content="@yamat47" >
    <meta name="twitter:creator" content="@yamat47" >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <%= favicon_pack_tag 'favicon.ico' %>
  </head>

  <body>
    <nav class='navbar' role="navigation" aria-label="main navigation">
      <div class='container'>
        <div class="navbar-brand">
          <span class='navbar-item'>
            <%= image_pack_tag 'main.png', alt: 'HLS on Rails Sample' %>
          </span>
          <%= link_to 'https://github.com/yamat47/rails-hls-sample', target: '_blank', rel: 'noopener', class: 'navbar-item', style: 'color: #333333;' do %>
            <span class='icon'>
              <i class='fab fa-lg fa-github'></i>
            </span>
          <% end %>
        </div>
      </div>
    </nav>
    <div class='container px-2'>
      <%= yield %>
    </div>
  </body>
</html>
